
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl"a href="/">Lego sets</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 rounded-t-none">
                  <li><a href="/lego/sets?theme=Theme-1">Theme-1</a></li>
                  <li><a href="/lego/sets?theme=Theme-2">Theme-2</a></li>
                  <li><a href="/lego/sets?theme=Theme-3">Theme-3</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
<body>
    
    <div class="container mx-auto">

        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <div>
                <h1 class="text-5xl font-bold">ABOUT ME!</h1>
              </div>
            </div>
          </div>


        <div class="grid grid-cols-2 gap-2 text-center p-4">
            <div class="flex justify-center items-center">
                <img src="https://th.bing.com/th/id/OIP.bGAySUdXOmNppaByKlWpOAHaEo?w=305&h=191&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Multi-tasker" class="rounded-lg shadow-xl" width="300" height="300" />
            </div>

            <div class="flex justify-center items-center flex-wrap">
                <p>Hello, my name is Prince. Currently, I am pursuing computer programming course at seneca. This is my 3rd semester in which i am learning web-dev(frontenf and backend).

                This workshop makes me familiar with tailwind and cycle.
                My hobbies include:
            <ul>
                <li>basketball</li>
                <li>learning new things</li>
                <li>Travelling</li>
            </ul></p>
            </div>
        </div>
          
          

</div>

</body>
</html>